<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fyq.study.mapper.UserCustomMapper">

    <select id="findRoleByUserName" resultType="java.lang.String" parameterType="java.lang.String">
        select r.role_name FROM writing_user u LEFT JOIN writing_role r on u.role_id = r.id
            WHERE u.user_name = #{username}
    </select>

</mapper>